@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "pretendard";
  src: url("/font/pretendard/800.woff2") format("woff2");
  font-weight: 800;
}

* {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
#__next {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "pretendard", monospace;
}
